<div class="control-conteiner">
    <button mat-fab (click)="openAddDialog()">
        <mat-icon>add</mat-icon>
    </button>
    <mat-form-field appearance="outline">
        <mat-label>Дата:</mat-label>
        <input matInput [matDatepicker]="picker1" [(ngModel)]="selectedDate" (keyup.enter)="GetOrders()">
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <button mat-fab (click)="GetOrders()">
        <mat-icon>event</mat-icon>
    </button>
    <button mat-raised-button *ngIf="this.admin == true" (click)="GoToOrdersLogs()">Журнал записей</button>
    <button mat-raised-button [matMenuTriggerFor]="menu" class="menu-button">
        <mat-icon>
            arrow_drop_down
        </mat-icon>
        Профиль
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="GoToADrive()">Резерв. авто</button>
        <button mat-menu-item (click)="getDocumentacion()">Инструкция</button>
        <button mat-menu-item (click)="Logout()">Выйти</button>
    </mat-menu>
</div>
<div class="table-conteiner">
    <table>
        <tr>
            <td *ngFor="let h of tableHeader">
                {{h}}
            </td>
        </tr>
        <tr *ngFor="let i of reservList">
            <td>
                {{i.order_date| date: 'dd.MM.yyyy'}}
            </td>
            <td>
                {{i.order_time}}
            </td>
            <td>
                {{i.order_type}}
            </td>
            <td>
                {{i.order_download}}
            </td>
            <td>
                {{i.order_upload}}
            </td>
            <td>
                {{i.order_good}}
            </td>
            <td>
                {{i.order_note}}
            </td>
            <td>
                <button mat-raised-button [matMenuTriggerFor]="menu1">
                    <mat-icon>
                        arrow_drop_down
                    </mat-icon>
                    Действия
                </button>
                <mat-menu #menu1="matMenu">
                    <button mat-menu-item style="color: #00006e" (click)="openUpdateDialog(i)">Изменить</button>
                    <button mat-menu-item style="color: red" (click)="DeleteOrder(i.id)">Удалить</button>
                </mat-menu>
            </td>
        </tr>
    </table>
</div>